.grid-container
{
	display:grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto auto auto;
	grid-column-gap:10px;
	grid-row-gap:10px;
}

.grid-item
{
	background-color: rgb(250,150,0,0.5);
	border-radius:40px;
	padding:5%;
	overflow:auto;
}

#logo{width:90%;}

figcaption
{
	font-size:0.8em;
	text-align:left;
}

a
{
	background-color:orange;
	border-radius:100px;
	padding:1%;
	margin-top:10%;
	text-decoration: none;
}

/* Pseudo Element Selector */
p::first-letter, h1::first-letter,h2::first-letter , h3::first-letter 
{
	font-size: 140%;
	color:Yellow;
}

/* Attribute Selector*/
[class^="grid"]
{
	color: GREY;
	font-size:1.1em;
}

.currentPage
{
	background-color:RED;
	color:BLACK;
	font-weight:BOLD;
}