.content1, .content2
{
	grid-row-start: 2;
	height:auto;
	overflow:auto;
}

.content1
{
	grid-column-start: 1;
	grid-column-end: 3;
}

.content2
{
	grid-column-start: 3;
	grid-column-end: 5;
}

.nav
{
	grid-row-start:1;
	grid-column-start:2;
	grid-column-end:5;
	overflow:auto;
}

.logo
{
	grid-row-start:1;
	grid-column-start:1;
	grid-column-end:2;
}

.footer
{
	grid-column-start:1;
	grid-column-end:5;
	padding:0 0 0 5%;
	padding-bottom:-50%;
}

#logo{width:90%;}

figcaption
{
	font-size:0.8em;
	text-align:left;
}

a
{
	background-color:orange;
	border-radius:100px;
	padding:1%;
	margin-top:10%;
	text-decoration: none;
}



/* Attribute Selector*/
[class^="grid"]
{
	color: GREY;
	font-size:1.1em;
}

.currentPage
{
	background-color:RED;
	color:BLACK;
	font-weight:BOLD;
}