/* Header */
.flex-container
{
	/* Flex Stuff */
	display:flex;
	
	/* Functions */
	justify-content: flex-end;
	
	/* Looks and Decorations */
	background-color:rgb(250,150,0,1);
	z-index:1;
	position:fixed;
	height:6%;
	width:101%;
	top:-1%;
	left:-1%;
	padding:2% 0% 2% 0%;
}
/* Header */
.flex-container > div
{
	padding: 10px;
}

/* Body */
.flex-container-2
{
	/* Flex Stuff */
	display:flex;
	
	top:30%;
	width:95%;
	height:auto;
	position:absolute;
}

.flex-container-2 > div
{
	background-color:rgb(250,150,0,0.5);
	border-radius:30px;
	margin:10px;
}	

#logo
{
	position:fixed;
	top:3%;
	left:5%;
	width:10%;
	height:auto;
	z-index:1;
}

#banner
{
	position:absolute;
	top:10%;
	left:-1%;
	width:115%;
	height:20%;
}

.overlay
{
	position:absolute;
	top:10%;
	left:-1%;
	width:115%;
	height:20%;
	padding:0;
	background-color: rgb(250,150,0,0.5);;
}

#bannerText
{
	position: absolute; 
	left:10% !important;
	font-size:3em;
}

footer
{
	position:fixed;
	z-index:1;
	width:101%;
	height:10%;
	left:-1%;
	bottom:0%;
	background-color:rgb(250,150,0,1);
}

footer p{padding-left:4%;}
div{padding:0% 10px 1000px 10px;}

/* Pseudo Element Selector */
p::first-letter, h1::first-letter,h2::first-letter , h3::first-letter 
{
	font-size: 140%;
}

/*  Pseudo Class Selector*/
a:hover
{
	color:blue;
	font-weight: bold;
}	


/* Contextual Selector */
TR{color:red;}
TD{color:red;}

TR TD {color:blue;}
