.content1{grid-row-start:3;}
.content2{grid-row-start:4;}

.logo{display:none;}

.nav
{
	grid-row-start:1;
	grid-row-end:2;
	overflow:auto;
}

.footer
{
	grid-row-start:5;
	padding:0 0 0 5%;
}

#logo{width:90%;}

figcaption
{
	font-size:0.8em;
	text-align:left;
}

a
{
	background-color:rgb(0,0,0,0);
	text-decoration: none;
}

p{margin:0% !important; padding:0% !important;}

/* Attribute Selector*/
[class^="grid"]
{
	color: GREY;
	font-size:1.1em;
}

.currentPage
{
	background-color:RED;
	color:BLACK;
	font-weight:BOLD;
}